@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    font-size: 16px;
}
.h1, h1 {
    font-size: 1.7em;
   
}
.h2, h2 {
    font-size: 1.6em;
}
.h1, h1, .h2, h2, .h3, h3,.h4, h4, .h5, h5 
{
	line-height: 1.3;
	width: 100%;
    margin-top: 0;
    margin-bottom: .5em;
    text-rendering: optimizeSpeed;
}

.h3, h3 {
    font-size: 1.5rem;
}

.h4, h4 {
    font-size: 1.3rem;
}

pre, blockquote, form, figure, p, dl, ul, ol {
    margin-bottom: 1.3em;
}

ul {
    list-style: disc;
}

ul li {
    margin-left: 1.3em;
}
.prose{
    font-size: 1.15rem;
   
}
.prose p{
     line-height: 2;
}
li {
    margin-bottom: .6em;
}
article a {
	color: rgb(185, 28, 28, 1);
}